.footer__link {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    margin: 0 18px 0 0;
    transition: opacity 0.2s linear;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 642px) {
    .footer__link {
        margin-right: 10px;
        font-size: 15px;
        line-height: 16px;
    }
}

@media screen and (max-width: 578px) {
    .footer__link {
        margin-right: 6px;
        font-size: 14px; 
    }
}

@media screen and (max-width: 568px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-right: 0;
    }
}