.lead__title {
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto 16px auto;
    box-sizing: border-box;
}

@media screen and (max-width: 708px) {
    .lead__title {
        max-width: 500px;
        font-size: 70px;
        line-height: 74px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 568px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}