.footer__margin-li {
    margin: 0;
}

@media screen and (max-width: 568px) {
    .footer__margin-li {
        margin: 0 0 32px 0;
    }

    .footer__margin-li:last-of-type {
        margin-bottom: 0;
    }
}