.place {
    display: grid;
    grid-template-areas: 
    "title website"
    "image paragraphes";
    grid-gap: 48px 40px;
}

@media screen and (max-width: 1140px) {
    .place {
        grid-column-gap: 32px;
    }
}

@media screen and (max-width: 984px) {
    .place {
        grid-column-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-column-gap: 0;
    }
}

@media screen and (max-width: 568px) {
    .place {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }
}