.footer {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    box-sizing: border-box;
}

@media screen and (max-width: 984px) {
    .footer {
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 0 12px;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        flex-direction: column;
        max-width: 186px;
        padding: 0 0 0 16px;
    }
}